@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
body {
	background-color: antiquewhite;
}
* {
	margin: 0;
	padding: 0;
}
nav {
	font-family: "Ubuntu", sans-serif;
}
nav ul li {
	padding: 0px 12px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 65px;
	background-color: rgb(0, 0, 0);
	color: white;
}
.brand img {
	width: 42px;
	padding: 8px;
}
.brand {
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}
.container {
	min-height: 72vh;
	background-color: black;
	color: white;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	margin: 12px auto;
	width: 70%;
	border-radius: 12px;
	padding: 34px;
	background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.bottom {
	position: sticky;
	height: 130px;
	background-color: black;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
}
.icons {
	margin-top: 23px;
}
.icons i {
	cursor: pointer;
}
#myProgress {
	width: 80vw;
	text-align: center;
	cursor: pointer;
}
.songitemContainer {
	margin-top: 40px;
}
.songitem {
	height: 40px;
	display: flex;
	background-color: green;
	margin: 12px 0px;
	justify-content: space-between;
	align-items: center;
	border-radius: 34px;
}

.songitem img {
	width: 41px;
	margin: 0px 0px;
	border-radius: 34px;
}
.timestamp {
	display: flex;
	padding: 22px 14px;
	align-items: center;
}
.timestamp i {
	margin: 0px 5px;
	cursor: pointer;
}
.songinfo {
	display: flex;
	height: 2vh;
	position: absolute;
	left: 10vw;
	font-family: "Varela Round", sans-serif;
}
.songinfo img {
	opacity: 0;
	transition: opacity 0.4s ease-in;
}
